name: First Workflow
on: workflow_dispatch
jobs: 
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: |
            echo "First line"
            echo "Second line"
            echo "Third line"
      - name: Print goodbye
        run: echo "Done - Bye!"
